{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


</style>
<h2 class="card-header">My Orders</h2>

<table class="table text-center">
    <thead>
    <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Items Ordered</th>
        <th scope="col">Ordered Date</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col"></th> <!-- Empty column for cancel button -->
    </tr>
    </thead>
    <tbody>
    {% if not my_orders %}
    <h6>You have not ordered anything.</h6>
    {% endif %}

    {% for order in my_orders %}
    <tr>
        <td>{{ order.ref_code }}</td>

        <td>
            {% for item in order.items.all %}
            <li> {{ item }}</li>
            {% endfor %}
        </td>
        <td>{{ order.ordered_date }}</td>
        <td>{{ order.payment.amount }}</td>
        {% if order.being_delivered %}
        <td>Shipped</td>
        {% endif %}
        {% if order.received %}
        <td>Delivered</td>
        {% endif %}
        {% if not order.being_delivered and not order.received %}
        <td>Processing</td>
        {% endif %}
        {% if order.refund_requested %}
        <td>Processing Refund</td>
        {% endif %}

        {% if order.refund_granted %}
        <td>Refund Approved</td>
        {% endif %}
        <td>
            {% if not order.refund_requested or order.refund_granted %}
            <a href="{% url 'core:request-refund' %}">
                <button type="button" class="btn btn-danger">Cancel Order</button>
            </a>
            {% endif %}

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}